In [1]:
import numpy as np
import pandas as pd

from coremdlr.corecolumn import CoreColumn
from coremdlr.utils.facies_utils import xml2dict
from skimage import io

import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.colors as colors
from mpl_toolkits.axes_grid1 import make_axes_locatable

In [2]:
a = pd.DataFrame({'thing1':np.random.random(10), 
                  'thing2':np.random.random(10)}, index=np.arange(0,10))
b = pd.DataFrame({'thing2':np.random.random(10)}, index=np.arange(9,19))
common_cols = list(set.intersection(*(set(df.columns) for df in [a,b])))
#pd.concat([df[common_cols] for df in [a.b]])
pd.concat([a,b])

      thing1    thing2
0   0.700863  0.860329
1   0.451765  0.873719
2   0.256686  0.081424
3   0.408759  0.717551
4   0.283245  0.023078
5   0.201069  0.209568
6   0.553656  0.017939
7   0.566216  0.353518
8   0.043741  0.969026
9   0.118583  0.911452
9        NaN  0.659024
10       NaN  0.198597
11       NaN  0.593247
12       NaN  0.123181
13       NaN  0.379380
14       NaN  0.030893
15       NaN  0.583287
16       NaN  0.711670
17       NaN  0.529543
18       NaN  0.010335

In [3]:
def make_column_log_plot(column, facies_colors, well_name='None'):
    '''TODO: finish customizing this function.
    
    Parameters
    ----------
    column: CoreColumn
        
    facies_colors
    
    '''
    #make sure logs are sorted by depth
    logs = column.data.sort_values(by='Depth')
    cmap_facies = colors.ListedColormap(list(facies_colors.values()), 'indexed')
    
    ztop=logs.index.min(); zbot=logs.index.max()
    
    f, ax = plt.subplots(nrows=1, ncols=logs.columns.size, figsize=(8, 12))
    
    for axis, col in zip(ax[:-1], logs.columns):
        axis.plot(logs[col], logs.index)
    #ax[0].plot(logs.GR, logs.Depth, '-g')
    #ax[1].plot(logs.ILD_log10, logs.Depth, '-')
    #ax[2].plot(logs.DeltaPHI, logs.Depth, '-', color='0.5')
    #ax[3].plot(logs.PHIND, logs.Depth, '-', color='r')
    #ax[4].plot(logs.PE, logs.Depth, '-', color='black')
    
    cluster=np.repeat(np.expand_dims(logs['Facies'].values,1), 100, 1)
    label_img=ax[-1].imshow(cluster, interpolation='none', aspect='auto',
                           cmap=cmap_facies,vmin=1,vmax=9)
    
    # facies color labels
    divider = make_axes_locatable(ax[-1])
    cax = divider.append_axes('right', size='20%', pad=0.05)
    cbar= plt.colorbar(label_img, cax=cax)
    cbar.set_label((17*' ').join([facies_colors.keys()])
    cbar.set_ticks(range(0,1)); cbar.set_ticklabels('')

    # raw column image
    iax = divider.append_axes('left', size='50%', pad=0.1)
    img = plt.imshow(column.img, aspect='equal', ax=iax)
    img.set_ticklabels([])
        
    for i in range(len(ax)-1):
        ax[i].set_ylim(ztop,zbot)
        ax[i].invert_yaxis()
        ax[i].grid()
        ax[i].locator_params(axis='x', nbins=3)
        
    ax[0].set_xlabel("GR")
    ax[0].set_xlim(logs.GR.min(),logs.GR.max())
    ax[1].set_xlabel("ILD_log10")
    ax[1].set_xlim(logs.ILD_log10.min(),logs.ILD_log10.max())
    ax[2].set_xlabel("DeltaPHI")
    ax[2].set_xlim(logs.DeltaPHI.min(),logs.DeltaPHI.max())
    ax[3].set_xlabel("PHIND")
    ax[3].set_xlim(logs.PHIND.min(),logs.PHIND.max())
    ax[4].set_xlabel("PE")
    ax[4].set_xlim(logs.PE.min(),logs.PE.max())
    ax[5].set_xlabel('Facies')
        
    ax[1].set_yticklabels([]); ax[2].set_yticklabels([]); ax[3].set_yticklabels([])
    ax[4].set_yticklabels([]); ax[5].set_yticklabels([])
    ax[5].set_xticklabels([])
    f.suptitle('Well: %s'%well_name, fontsize=14, y=0.94)

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 20., 21.,
       22., 23., 24., 25., 26., 27., 28., 29., 30.])

In [3]:
cimg = io.imread('../models_facies/data/apache_7882.0-7932.0.png')
col = CoreColumn(cimg, depth_range=[7882.0, 7932.0])

1 [(73403, 73593), (55306, 55791), (53296, 53424), (52891, 53130), (51913, 52645), (47154, 47254), (44253, 44341), (43879, 43951), (43323, 43845), (42855, 43205), (42640, 42795), (41806, 42065), (41630, 41716), (41064, 41286)]
2 [(73175, 73403), (70582, 70678), (69164, 69199), (68539, 68640), (65529, 66519), (64529, 64930), (63524, 63676), (62760, 62836), (62072, 62226), (57185, 57544), (49703, 49813), (41289, 41629), (15153, 15862)]
3 [(72427, 73176), (71695, 72427), (70679, 71693), (69200, 70241), (68639, 69163), (67514, 68540), (67153, 67514), (66522, 67156), (64929, 65322), (63674, 64529), (62837, 63522), (62230, 62757), (61522, 62069), (59951, 60943), (59288, 59772), (57545, 57862), (55148, 55305), (54192, 54481), (53612, 53953), (52645, 52785), (50769, 51092), (49817, 49999), (49461, 49702), (48796, 49345), (48268, 48420), (46603, 46936), (45591, 46144), (44795, 45037), (44647, 44685), (44010, 44110), (42068, 42545), (41717, 41805)]
4 [(70241, 70580), (57864, 58481)]
5 [(65319, 65529), (60943, 61519), (59775, 59950), (58481, 59285), (56113, 57181), (48422, 48793), (47253, 48265), (46941, 47155), (46145, 46602), (45041, 45585), (44689, 44792), (44344, 44643), (43951, 44010)]
6 [(55795, 56107), (54484, 55147), (53953, 54185), (53426, 53607), (53130, 53293), (52789, 52888), (51093, 51909), (50002, 50767), (49348, 49458), (44113, 44251)]
7 [(43847, 43879), (43207, 43323), (42795, 42853), (42547, 42638), (7010, 7767), (6212, 6486), (5360, 5516), (35875, 35947), (34762, 35169)]

In [7]:
a.thing1.iloc[5:7] = 1

In [8]:
a

     thing1    thing2
0  0.700863  0.860329
1  0.451765  0.873719
2  0.256686  0.081424
3  0.408759  0.717551
4  0.283245  0.023078
5  1.000000  0.209568
6  1.000000  0.017939
7  0.566216  0.353518
8  0.043741  0.969026
9  0.118583  0.911452